*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-menu{
    background-color: rgb(29, 34, 34);
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10; 
}

.header-menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.contenedor{  
    max-width: 1500px;
    margin: 0 auto;
}
.logo-contenedor{
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);;
    align-items: center;
}
.logo{
    letter-spacing: 8px;
    font-size: 2rem;
}
.logo a:hover{
    color: rgb(253, 253, 253, 0.582);
}
.nav-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;   
}
.nav-menu ul li{
    display: inline-block;
}
.nav-menu ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 15px;
    letter-spacing: 1.2px;
    font-size: 1.8rem;
}
.nav-menu ul li a:hover{
    background: rgba(253, 253, 253, 0.582);
    color: rgb(77, 76, 76);   
}

/*main*/
main{
    padding-top: 5rem;
}
.nota-destacada-main{
    background-color:##CECECF;
    background-image:url(/imagenes/plantasEnCasa.png);
    background-size:content;
    background-position:center;
    padding:12rem 0;
}
.titulo-nota-mes a{
    text-align: center;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1.5px 1.5px 2px white;
    border-radius: 1rem;
    background-color: #a7a6a6c0;
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
}
.titulo-nota-mes a:hover{
   text-shadow: 1.5px 1.5px 2px rgb(143, 140, 140);
}
.contenedor-cuerpo{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 2rem 0;
    padding: 1rem 0;
}
.seccion-articulos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}
.seccion-articulos a{
    text-decoration: none;
    color: black;
}
.seccion-articulos article:hover{
    border: 1px solid rgba(197, 197, 197, 0.753);
    box-shadow: 3px -3px 8px black;
}
article img{
    padding-bottom: 1.5rem; 
}
.pie-articulo{
    padding: 0 2rem;
}

.pie-articulo h2{
    font-size: 2rem;
    padding-bottom: .5rem;
}

.pie-articulo p{
    font-size: 1.25rem;
    text-align: justify;
}

.seccion-articulos img{
    max-width: 100%;
    height: auto;
}
aside{
    text-align: center;
    margin-left: 1rem;
    border: 1px solid rgb(255, 0, 170);
}
/*footer*/
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
}
footer span{
    font-size: 1rem;
    color: rgb(253, 253, 253, 0.582);
}
.maildeco a{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(253, 253, 253, 0.582);
}
.maildeco a:hover{
    text-decoration: underline;
}
footer ul{
    display: flex;
    list-style: none;
}
footer li a{
    text-decoration: none;
    display: flex;
    padding-left: 1rem;
    color: rgb(253, 253, 253, 0.582);
}
footer li a:hover{
    transform: scale(1.2);
}
footer img{
    width: 2rem;
}


/* Pagina DIY*/
.portada-diy, .portada-deco{
    position: relative;
}
.portada-diy img, .portada-deco img{
   width: 100%;
   height: 30rem;
   object-fit: cover;
   position: relative;
   z-index: -1;
}
.portada-diy div, .portada-deco div{
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 1rem;
    background-color: #a7a6a6c0; 
}
.contenedor-diy{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 4rem;
}
.seccion-diy article{
    display: grid;  
    grid-template-columns: 1fr 2fr;
    margin-bottom: 2rem;
}
.seccion-diy iframe{
    
}
.seccion-diy div{
    margin-left: 2rem;
    font-size: 1.5rem;
}

/* Pagina Decoracion*/
.contenedor-nota-deco img{
    width: 100%;
    height: auto;
}
.texto-nota-deco h1{
    font-size: 3rem;
}
.texto-nota-deco p{
    font-size: 1.5rem;
    text-indent: 1.5rem;
    line-height: 2rem;
}

@media only screen and (max-width: 765px){
     
}